@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
}
body{
    background-color: #13192B;
}
